DATABASE_URL=postgresql://postgres.dpjkzhcmwvvaaauaffoa:sspaks13BBSR@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
SECRET_KEY=change-this-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
UPLOAD_DIR=uploads
